{% load staticfiles %}

<html>
<head>
<title>Map Calendar - add appointment</title>
<style type="text/css">
html, body { height: 100%; width: 100% }
#mymap { width: 400px; height: 50%; }
</style>
  <link rel="stylesheet" href="{% static 'mapcal/css/ui-lightness/jquery-ui-1.10.3.custom.css' %}">
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="{% static 'mapcal/js/jquery-1.9.1.js' %}"></script>
<script src="{% static 'mapcal/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script type="text/javascript">
  var map;

var markarr = [];

function addMarker(lat, lng) {
  tmpmarker = new google.maps.Marker({ position: newLatLng(lat, lng) });
  tmpmarker.setMap(map);
  markarr.push(tmpmarker);
}

function formatLatLng(latLng) {
  return latLng.lat() + "," + latLng.lng();
}

function incNumMarkers() {
  $("#nummarkers").val(parseInt($("#nummarkers").val()) + 1);
}

function addToMarkerCoords(txt) {
  $("#markercoords").val($("#markercoords").val() + txt + ";");
}
  

    var geocoder = new google.maps.Geocoder();

    function addressToLatLng(addressStr) {
      geocoder.geocode({'address': addressStr}, function(results, status) {
        if(status == google.maps.GeocoderStatus.OK) {
          incNumMarkers();
          addToMarkerCoords(formatLatLng(results[0].geometry.location));
          console.log(formatLatLng(results[0].geometry.location));
          map.setCenter(results[0].geometry.location);
          addMarker(results[0].geometry.location.lat(), results[0].geometry.location.lng());
        } else {
          console.log("Error: Geocoder status " + status);
        }
      });
    }

  function initialize() {
  var mapOptions = { center: new google.maps.LatLng(-23.55, -46.64), zoom: 14,
  mapTypeId: google.maps.MapTypeId.ROADMAP };
  map = new google.maps.Map(document.getElementById("mymap"), mapOptions);

  {% for marker in appt.marker_set.all %}
    addMarker({{ marker.lat }}, {{ marker.lng }});
    incNumMarkers();
    addToMarkerCoords("{{ marker.lat }},{{ marker.lng}}");
    map.setCenter(newLatLng({{ marker.lat }}, {{ marker.lng }}));
  {% endfor %}
  

    google.maps.event.addListener(map, 'click', function(event) {
        clickLat = event.latLng.lat();
        clickLng = event.latLng.lng();
        addMarker(clickLat, clickLng);
        $("#nummarkers").val(parseInt($("#nummarkers").val()) + 1);
        $("#markercoords").val($("#markercoords").val() + clickLat + "," + clickLng + ";");
    });
  }

  var newLatLng = function(lat, lng) {
  return new google.maps.LatLng(lat, lng);
  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>

</head>
<body>
  {% include "mapcal/nav.html" %}

  <table border="0" width="100%" height="100%">
    <tr>
      <td valign="top">
  
<form action="/mapcal/add/" method="post">
  <input type="hidden" name="del_id" value="{{ appt.id }}">
  <input type="hidden" name="nummarkers" id="nummarkers" value="0">
  <input type="hidden" name="markercoords" id="markercoords">

  <p>Date:<br>
    <input type="text" name="ymd" id="datepicker">
<br>
24-h time (hh:mm):<br>
<input type="text" name="time" value="{{ appt.time|date:"H:i" }}"></p>

  <p>description:<br>
    <input type="text" name="desc" value="{{ appt.desc }}"></p>
  <p>notes:<br>
    <textarea name="notes" rows="3" cols="28">{{ appt.notes }}</textarea></p>
  <p>tags:<br>
  <input type="text" name="tag1" value="{{ tag1 }}"><br>
  <input type="text" name="tag2" value="{{ tag2 }}"><br>
  <input type="text" name="tag3" value="{{ tag3 }}">
  </p>


  Address:<br>
  <input type="text" name="address" id="addressInput">
  <button type="button" id="geocodeAddress" onclick="addressToLatLng($('#addressInput').val());">find address</button><br><br>
  
  <input type="submit" value="{% if appt %}Update{% else %}Add{% endif %} appt"><br><br>
{% csrf_token %}

</form>
      </td>
      <td width="70%" height="500px" valign="top">
        <div id="mymap" style="width: 100%; height: 100%"></div>
      </td>
    </tr>
  </table>
        

<script type="text/javascript">
  $("#datepicker").datepicker();
$("#datepicker").datepicker("option", "dateFormat", "yy-mm-dd");

{% if appt %}
  $("#datepicker").datepicker("setDate",
  new Date({{ appt.time|date:"Y" }}, {{ appt.time|date:"m" }} - 1,
           {{ appt.time|date:"d" }}));
{% endif %}
</script>

</body>
  </html>
