<html>
  <head>
    <title>Mapcal - {{ user.username }}</title>
  </head>
  
  <body>
    {% include "mapcal/nav.html" %}

    <table border="0">
    {% for appt in appts %}
    <tr><td>
        <a href="/mapcal/{{ appt.id }}/detail">{{ appt.time|date:"D, d M Y, P" }}: {{ appt.desc }}</a>
      </td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td>
      {% for tag in appt.tags.all %}
      <a href="/mapcal/{{ tag.id }}/tag/">{{ tag.name }}</a>{% if not forloop.last %},{% endif %} 
      {% endfor %}
      </td></tr>
      {% endfor %}
      </table>
  </body>
</html>
