<html>
  <head>
    <title>Monthly view</title>
  </head>
  
  <body>
    {% include "mapcal/nav.html" %}


    <table border="1" width="98%">
    <tr>
    <td><a href="/mapcal/{{ prevlink }}/month">&lt;&lt; previous</a></td>
    <td colspan="5" align="center"><b>{{ longmonth }} {{ year }}</b></td>
    <td align="right"><a href="/mapcal/{{ nextlink }}/month">next &gt;&gt;</a></td>
    </tr>
<tr>
<td>Sunday</td>
<td>Monday</td>
<td>Tuesday</td>
<td>Wednesday</td>
<td>Thursday</td>
<td>Friday</td>
<td>Saturday</td>

</tr>
<tr>
{% for n in placeholder %}
<td width="14%" valign="top" {% ifequal yr thisyear %} {% ifequal mo thismonth %} {% ifequal n today %}bgcolor="#ffff77"{% endifequal %} {% endifequal %} {% endifequal %}>
<b>
  <a href="/mapcal/{{ yr }}/{{ mo}}/{{ n }}/add">{{ n }}</a></b>
  <br>
  {% for day in days %}
    {% ifequal day.d n %}
      <a href="/mapcal/{{ day.id }}/detail" title="{{ day.time|date:"P" }}">{{ day.detail }}</a> <br>
    {% endifequal %}
  {% endfor %}
  </td>
  {% if forloop.counter|divisibleby:7 %}
    </tr><tr>
  {% endif %}
{% endfor %}
</tr>
  </body>
</html>
