<table border="0" width="100%"><tr><td bgcolor="#99eeff">

      <a href="/mapcal/all/">View all appts.</a> |
      <a href="/mapcal/">View current appts.</a> |
      <a href="/mapcal/alltags">Browse tags</a> |
      <a href="/mapcal/{% now "Y" %}/{% now "n" %}/month/">Current month</a> |
      <a href="/mapcal/{% now "Y" %}/{% now "n" %}/{% now "d" %}/add/">Add new appt.</a>
      <br>
      <i>{% now "D, d M Y, P" %}</i>
    </td>

    <td align="right" bgcolor="#ffdd99" valign="top"><a href="/mapcal/accounts/logout/">Log out</a> ({{ user.username }})</td></tr></table>

